.white{
  background: white;
}

.title{
  font-size: 30px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: Arial;
  text-align: center;
}

#bands1{
  width: 100%;
  height: 200px;
}

article h1 {
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

 article p {
  padding-bottom: 15px;
  text-align: justify;
  width: 100%;
}

article img {
  width: 90%;
  height: 256px;
  padding-bottom: 60px;
}

@media (max-width: 1024px){
  article img {
    height: 200px;
    padding-bottom: 60px;
  }
}

@media (max-width: 500px){


  article img {
    height: auto;
    padding-bottom: 60px;
  }
}
